<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {%- if site.author_details.linkedin -%}
          <li><a href="https://www.linkedin.com/in/{{ site.author_details.linkedin }}"><span class="icon">💼</span> LinkedIn</a></li>
          {%- endif -%}
          {%- if site.author_details.github -%}
          <li><a href="https://github.com/{{ site.author_details.github }}"><span class="icon">💻</span> GitHub</a></li>
          {%- endif -%}
          {%- if site.email -%}
          <li><a href="mailto:{{ site.email }}"><span class="icon">📧</span> Email</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.</p>
    </div>
  </div>
</footer>
