<ul class="social-media-list">
  {%- if site.author_details.github -%}
  <li>
    <a href="https://github.com/{{ site.author_details.github | cgi_escape | escape }}" title="{{ site.author_details.github | escape }}'s GitHub">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
    </a>
  </li>
  {%- endif -%}
  
  {%- if site.author_details.linkedin -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.author_details.linkedin | cgi_escape | escape }}" title="{{ site.author | escape }}'s LinkedIn">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
    </a>
  </li>
  {%- endif -%}
</ul>

